@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Testing Purposes only...</h1>
    <p>Github: <a href="https://www.github.com/bonkahe/bonkslist">github.com/bonkahe/bonkslist</a>.</p>
</div>
